:root{
    --line-gray: #eee;
    --background-gray: #F3F3F3;
    --color-orange: #ff764d;
    --color-blue: #0000ff;
    --color-yellow: #fbffa7;
    --color-green: #b6ffc0;
    --color-purple: #d5b3ff;
    --color-violet: #b1c5ff;
}
/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
html{
    width: 100%;
    font-size: 62.5%;
    font-weight: normal;
    line-height: 1.6rem;
    font-family: futura-pt, Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    max-width: 100%;
    border-radius: 10px;
    background-color: var(--background-gray);
}
header, main, footer{
    max-width: 160rem;
    background-color: white;
    margin: 0 auto;
}
a:hover{
    color: var(--text-orange);
    transition: color .3s linear;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
}
/*TEXT AND BLOCK*/
.bold{
    font-weight: 600;
}
.text-blue{
    color: var(--color-blue);
}
.text-orange{
    color: var(--color-orange);
}
.text-white{
    color: var(--color-white);
}
.background-blue{
    background-color: var(--color-blue);
}
.background-gray{
    background-color: var(--background-gray);
}
.block-yellow{
    background-color: var(--color-yellow);
}
.block-green{
    background-color: var(--color-green);
}
.block-purple{
    background-color: var(--color-purple);
}
.block-violet{
    background-color: var(--color-violet);
}
.separator{
    background-color: var(--line-gray);
    height: 2px;
}

